html {
    font-family: Roboto, sans-serif;
}

body {
	height: 100vh;
	margin: 0;
	
	display: flex;
	flex-direction: column;
}

.header {
    background: #1f2937;
	padding: 10px 150px 0px;

	display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;

	display: flex;
	justify-content: space-between;
}

.right-links {
	font-size: 18px;
	display: flex;
	margin-left: auto;
}

a {
    text-decoration: none;
	color: #e5e7eb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}